thumbs.meta
VSCode.meta
*.csd
*.csm
*.akd
*.prof
*.bundle.bytes
*.vscode
*._*
_work/
_work.meta
design/_work/
design/models/_work/
unity.userprefs
unity-simulation.userprefs
unity-simulation/Assets/VSCode
unity-simulation/.vscode
unity*/PATCH*/
unity*/_work/
unity*/.vs/
unity*/.vscode/.browse.VC.db
unity*/.vscode/launch.json
unity*/.plastic/
unity*/.idea/
unity*/*.csproj
unity*/*.user
unity*/*.sln
unity*/Library/
unity*/Logs/
unity*/MemoryCaptures/
unity*/Deploy/
unity*/Temp/
unity*/obj/
unity/MemoryCapture/
unity/Packages/packages-lock.json
unity/Assets/Solution*